flows.json
[
    {
        "id": "a1b1f2bdd5b2d11d",
        "type": "tab",
        "label": "CAN",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "93c938d261dc36e3",
        "type": "tab",
        "label": "DESCARGA USB",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "8d53d2f17df7fbc4",
        "type": "mqtt-broker",
        "name": "ACME_broker",
        "broker": "161.132.39.167",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "45598baf2af77f76",
        "type": "MySQLdatabase",
        "name": "",
        "host": "localhost",
        "port": "3306",
        "db": "acme_db",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "eadfda525a15b034",
        "type": "serial-port",
        "serialport": "/dev/ttyUSB1",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "25bec14118d50672",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "88dead4c2d39df0d",
        "order": 1,
        "disp": false,
        "width": 26,
        "collapse": false,
        "className": ""
    },
    {
        "id": "88dead4c2d39df0d",
        "type": "ui_tab",
        "name": "ESTATUS DE OPERACION",
        "icon": "timeline",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "51cc9a5c59010e6d",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "komatsu",
                "default": "#4B7930",
                "baseColor": "#0e1271",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#4B7930",
                    "value": "#0e1271",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0e1271",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#d8d9db",
                    "edited": true
                },
                "group-textColor": {
                    "value": "#0e1271",
                    "edited": true
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "widget-textColor": {
                    "value": "#000000",
                    "edited": true
                },
                "widget-backgroundColor": {
                    "value": "#0e1271",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "0359ad7573d63126",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "d660d717a9bffefc",
        "type": "debug",
        "z": "a1b1f2bdd5b2d11d",
        "name": "debug 115",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1130,
        "y": 220,
        "wires": []
    },
    {
        "id": "0689bf4cebcb2584",
        "type": "exec",
        "z": "a1b1f2bdd5b2d11d",
        "command": "python3 -u /root/jd2120/read_angles.py",
        "addpay": "topic",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 800,
        "y": 120,
        "wires": [
            [
                "d660d717a9bffefc",
                "d844aa306103f7d3"
            ],
            [
                "41d80ec30a343e55"
            ],
            [
                "ce4cc085bd5c743e",
                "28e90a4a7217f715"
            ]
        ]
    },
    {
        "id": "54acc20a85490c0c",
        "type": "inject",
        "z": "a1b1f2bdd5b2d11d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 510,
        "y": 120,
        "wires": [
            [
                "0689bf4cebcb2584"
            ]
        ]
    },
    {
        "id": "41d80ec30a343e55",
        "type": "debug",
        "z": "a1b1f2bdd5b2d11d",
        "name": "debug 116",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1130,
        "y": 280,
        "wires": []
    },
    {
        "id": "d844aa306103f7d3",
        "type": "json",
        "z": "a1b1f2bdd5b2d11d",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 1110,
        "y": 100,
        "wires": [
            [
                "5a7b6dc98516b2a2",
                "f82a72b03fd99e77"
            ]
        ]
    },
    {
        "id": "5a7b6dc98516b2a2",
        "type": "function",
        "z": "a1b1f2bdd5b2d11d",
        "name": "function 98",
        "func": "var data_json = global.get('data_json');\n\nmsg.payload = msg.payload.x_angle;\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 80,
        "wires": [
            [
                "19b8c49a17b554c8",
                "322d1f7915548dd2"
            ]
        ]
    },
    {
        "id": "f82a72b03fd99e77",
        "type": "function",
        "z": "a1b1f2bdd5b2d11d",
        "name": "function 99",
        "func": "var data_json = global.get('data_json');\n\nmsg.payload = msg.payload.y_angle;\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 120,
        "wires": [
            [
                "db3bbbf7deb2db60",
                "eb714187d8c10725"
            ]
        ]
    },
    {
        "id": "19b8c49a17b554c8",
        "type": "debug",
        "z": "a1b1f2bdd5b2d11d",
        "name": "debug 118",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1510,
        "y": 20,
        "wires": []
    },
    {
        "id": "322d1f7915548dd2",
        "type": "change",
        "z": "a1b1f2bdd5b2d11d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.jd2120.x_angle",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1810,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "28e90a4a7217f715",
        "type": "delay",
        "z": "a1b1f2bdd5b2d11d",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 800,
        "y": 220,
        "wires": [
            [
                "0689bf4cebcb2584"
            ]
        ]
    },
    {
        "id": "ce4cc085bd5c743e",
        "type": "debug",
        "z": "a1b1f2bdd5b2d11d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1130,
        "y": 160,
        "wires": []
    },
    {
        "id": "dd8a02d6dfa5f254",
        "type": "change",
        "z": "a1b1f2bdd5b2d11d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.jd2120.y_angle",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1810,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "db3bbbf7deb2db60",
        "type": "debug",
        "z": "a1b1f2bdd5b2d11d",
        "name": "debug 118",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1530,
        "y": 200,
        "wires": []
    },
    {
        "id": "bc41d85a6706e654",
        "type": "exec",
        "z": "a1b1f2bdd5b2d11d",
        "command": "python3 /root/jd2120/calibrate.py ",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 970,
        "y": 440,
        "wires": [
            [
                "37f42c443aaccf3d"
            ],
            [],
            []
        ]
    },
    {
        "id": "37f42c443aaccf3d",
        "type": "debug",
        "z": "a1b1f2bdd5b2d11d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1370,
        "y": 460,
        "wires": []
    },
    {
        "id": "8900e75366645a32",
        "type": "function",
        "z": "a1b1f2bdd5b2d11d",
        "name": "kill process",
        "func": "msg.kill = 1\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 340,
        "wires": [
            [
                "0689bf4cebcb2584"
            ]
        ]
    },
    {
        "id": "bf6d686f26f6a1d4",
        "type": "delay",
        "z": "a1b1f2bdd5b2d11d",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 720,
        "y": 440,
        "wires": [
            [
                "bc41d85a6706e654"
            ]
        ]
    },
    {
        "id": "ad41703a36d5715c",
        "type": "delay",
        "z": "a1b1f2bdd5b2d11d",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 720,
        "y": 520,
        "wires": [
            [
                "7b444030352fd1f6"
            ]
        ]
    },
    {
        "id": "7b444030352fd1f6",
        "type": "exec",
        "z": "a1b1f2bdd5b2d11d",
        "command": "python3 /root/jd2120/restore_parameters.py ",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1000,
        "y": 520,
        "wires": [
            [
                "53dd8b39e848a554"
            ],
            [],
            []
        ]
    },
    {
        "id": "53dd8b39e848a554",
        "type": "debug",
        "z": "a1b1f2bdd5b2d11d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1450,
        "y": 540,
        "wires": []
    },
    {
        "id": "bfca2389abdeb114",
        "type": "mqtt in",
        "z": "a1b1f2bdd5b2d11d",
        "name": "",
        "topic": "actions",
        "qos": "2",
        "datatype": "auto",
        "broker": "8d53d2f17df7fbc4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 480,
        "wires": [
            [
                "5c3a0bd0b8d61c96"
            ]
        ]
    },
    {
        "id": "1ac48825a2a4568d",
        "type": "switch",
        "z": "a1b1f2bdd5b2d11d",
        "name": "",
        "property": "payload.jd2120.calibrate",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 550,
        "y": 440,
        "wires": [
            [
                "8900e75366645a32",
                "bf6d686f26f6a1d4"
            ],
            []
        ]
    },
    {
        "id": "23dc4ce750a7ce51",
        "type": "switch",
        "z": "a1b1f2bdd5b2d11d",
        "name": "",
        "property": "payload.jd2120.restore",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 550,
        "y": 520,
        "wires": [
            [
                "ad41703a36d5715c",
                "8900e75366645a32"
            ],
            []
        ]
    },
    {
        "id": "5c3a0bd0b8d61c96",
        "type": "switch",
        "z": "a1b1f2bdd5b2d11d",
        "name": "",
        "property": "payload.gateway_key",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "gateway_data.gateway_key",
                "vt": "global"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 370,
        "y": 480,
        "wires": [
            [
                "1ac48825a2a4568d",
                "23dc4ce750a7ce51"
            ]
        ]
    },
    {
        "id": "b1398bfdc1511abc",
        "type": "inject",
        "z": "a1b1f2bdd5b2d11d",
        "name": "Restore",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"gateway_key\":\"AXOITE\",\"jd2120\":{\"calibrate\":0,\"restore\":1}}",
        "payloadType": "json",
        "x": 190,
        "y": 540,
        "wires": [
            [
                "5c3a0bd0b8d61c96"
            ]
        ]
    },
    {
        "id": "dadd451968ea653d",
        "type": "inject",
        "z": "a1b1f2bdd5b2d11d",
        "name": "Calibrate",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"gateway_key\":\"AXOITE\",\"jd2120\":{\"calibrate\":1,\"restore\":0}}",
        "payloadType": "json",
        "x": 160,
        "y": 420,
        "wires": [
            [
                "5c3a0bd0b8d61c96"
            ]
        ]
    },
    {
        "id": "7a91c3e61fd4b399",
        "type": "exec",
        "z": "a1b1f2bdd5b2d11d",
        "command": "${HOME}",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 620,
        "y": 640,
        "wires": [
            [
                "e3fac6510decdf93"
            ],
            [],
            []
        ]
    },
    {
        "id": "0fb03b9df1e83363",
        "type": "inject",
        "z": "a1b1f2bdd5b2d11d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 440,
        "y": 640,
        "wires": [
            [
                "7a91c3e61fd4b399"
            ]
        ]
    },
    {
        "id": "e3fac6510decdf93",
        "type": "debug",
        "z": "a1b1f2bdd5b2d11d",
        "name": "debug 122",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 640,
        "wires": []
    },
    {
        "id": "eb714187d8c10725",
        "type": "function",
        "z": "a1b1f2bdd5b2d11d",
        "name": "inverse",
        "func": "\nmsg.payload = -msg.payload;\n\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1500,
        "y": 120,
        "wires": [
            [
                "dd8a02d6dfa5f254"
            ]
        ]
    },
    {
        "id": "0fa85570732327d9",
        "type": "exec",
        "z": "93c938d261dc36e3",
        "command": "mount /dev/sda1 /media/USB/",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 710,
        "y": 280,
        "wires": [
            [],
            [],
            [
                "7cb1bfa6ee14cd59"
            ]
        ]
    },
    {
        "id": "908fa73116dffd7a",
        "type": "exec",
        "z": "93c938d261dc36e3",
        "command": "umount /media/USB",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 880,
        "y": 480,
        "wires": [
            [],
            [],
            [
                "eb67adf7cd48d352",
                "484501af6a01d73c"
            ]
        ]
    },
    {
        "id": "f0909c5883cf2bb5",
        "type": "delay",
        "z": "93c938d261dc36e3",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 500,
        "y": 280,
        "wires": [
            [
                "0fa85570732327d9"
            ]
        ]
    },
    {
        "id": "611c4768cd164731",
        "type": "delay",
        "z": "93c938d261dc36e3",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 500,
        "y": 360,
        "wires": [
            [
                "24491a42e5626d87"
            ]
        ]
    },
    {
        "id": "79c85eb3c32b4cec",
        "type": "delay",
        "z": "93c938d261dc36e3",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 680,
        "y": 480,
        "wires": [
            [
                "908fa73116dffd7a"
            ]
        ]
    },
    {
        "id": "6cae6ebd51676aa2",
        "type": "exec",
        "z": "93c938d261dc36e3",
        "command": "echo 1 > /dev/usrled3; echo 0 > /dev/usrled2",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 510,
        "y": 180,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "5913ac761e735950",
        "type": "exec",
        "z": "93c938d261dc36e3",
        "command": "echo 0 > /dev/usrled3; echo 1 > /dev/usrled2",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1390,
        "y": 660,
        "wires": [
            [],
            [],
            [
                "95b9733afe4cfa28"
            ]
        ]
    },
    {
        "id": "411b82cd9be62670",
        "type": "exec",
        "z": "93c938d261dc36e3",
        "command": "echo 0 > /dev/usrled3; echo 0 > /dev/usrled2; umount /media/USB",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 440,
        "y": 600,
        "wires": [
            [],
            [],
            [
                "36c50bea4f163c33"
            ]
        ]
    },
    {
        "id": "8280a977f37e7427",
        "type": "exec",
        "z": "93c938d261dc36e3",
        "command": "echo 0 > /dev/diod3",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 950,
        "y": 980,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "3b41906495a76b75",
        "type": "exec",
        "z": "93c938d261dc36e3",
        "command": "echo 0 > /dev/usrled2",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 960,
        "y": 860,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "7c8765ccbcef1d36",
        "type": "inject",
        "z": "93c938d261dc36e3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 730,
        "y": 940,
        "wires": [
            [
                "3b41906495a76b75",
                "8280a977f37e7427",
                "a24ecf78cb9c4bcd",
                "6599757e27dee406"
            ]
        ]
    },
    {
        "id": "eb67adf7cd48d352",
        "type": "debug",
        "z": "93c938d261dc36e3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 480,
        "wires": []
    },
    {
        "id": "24491a42e5626d87",
        "type": "link out",
        "z": "93c938d261dc36e3",
        "name": "descarga_usb",
        "mode": "link",
        "links": [
            "453da7bdd0eca604",
            "08ef0af123c7225b",
            "05d8f608fe5eb3a7",
            "5640511ec10b0865"
        ],
        "x": 605,
        "y": 400,
        "wires": []
    },
    {
        "id": "1bb50ae54662e6ff",
        "type": "link in",
        "z": "93c938d261dc36e3",
        "name": "descarga_done",
        "links": [
            "f89cd51984aeef3d",
            "fa52f9efaa73c12b",
            "4512bff38c8cd675",
            "2bc1b60033c6d16d"
        ],
        "x": 805,
        "y": 400,
        "wires": [
            [
                "09f0e4f9549d2ba9"
            ]
        ]
    },
    {
        "id": "09f0e4f9549d2ba9",
        "type": "exec",
        "z": "93c938d261dc36e3",
        "command": "cp -r /root/ITEMAQ/ANGULAMIENTO /media/USB",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1030,
        "y": 400,
        "wires": [
            [],
            [],
            [
                "79c85eb3c32b4cec"
            ]
        ]
    },
    {
        "id": "bb293532cfb39e99",
        "type": "comment",
        "z": "93c938d261dc36e3",
        "name": "saving csv",
        "info": "",
        "x": 700,
        "y": 400,
        "wires": []
    },
    {
        "id": "36c50bea4f163c33",
        "type": "debug",
        "z": "93c938d261dc36e3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 700,
        "wires": []
    },
    {
        "id": "484501af6a01d73c",
        "type": "function",
        "z": "93c938d261dc36e3",
        "name": "",
        "func": "if (msg.payload.code == 0){\n    node.status({ fill: \"green\", shape: \"dot\", text: \"usb connected\" });\n    return [null, msg];\n    \n}\nelse{\n    node.status({ fill: \"red\", shape: \"ring\", text: \"usb disconnected\" });\n    return [msg, null];\n}\n",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 600,
        "wires": [
            [
                "af2952fef3c4bb96",
                "39db48e634e5f68e"
            ],
            [
                "5913ac761e735950",
                "ca21724456fbfc8b"
            ]
        ]
    },
    {
        "id": "af2952fef3c4bb96",
        "type": "exec",
        "z": "93c938d261dc36e3",
        "command": "echo 0 > /dev/usrled3; echo 0 > /dev/usrled2",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1390,
        "y": 560,
        "wires": [
            [],
            [],
            [
                "cd3920d3e89b9edd"
            ]
        ]
    },
    {
        "id": "68ad270c7e3aa592",
        "type": "inject",
        "z": "93c938d261dc36e3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 660,
        "y": 540,
        "wires": [
            [
                "908fa73116dffd7a"
            ]
        ]
    },
    {
        "id": "cd3920d3e89b9edd",
        "type": "debug",
        "z": "93c938d261dc36e3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1650,
        "y": 540,
        "wires": []
    },
    {
        "id": "95b9733afe4cfa28",
        "type": "debug",
        "z": "93c938d261dc36e3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1650,
        "y": 660,
        "wires": []
    },
    {
        "id": "b896e77a5281950e",
        "type": "debug",
        "z": "93c938d261dc36e3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 460,
        "wires": []
    },
    {
        "id": "82cc57f035f4b635",
        "type": "inject",
        "z": "93c938d261dc36e3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 300,
        "wires": [
            [
                "f0909c5883cf2bb5"
            ]
        ]
    },
    {
        "id": "c8180879340f9797",
        "type": "usb-watch",
        "z": "93c938d261dc36e3",
        "name": "",
        "initialScan": false,
        "x": 260,
        "y": 360,
        "wires": [
            [
                "f0909c5883cf2bb5",
                "6cae6ebd51676aa2",
                "b896e77a5281950e",
                "267bd568987c89b8"
            ],
            [
                "411b82cd9be62670",
                "42e2da368acfdb16"
            ]
        ]
    },
    {
        "id": "267bd568987c89b8",
        "type": "exec",
        "z": "93c938d261dc36e3",
        "command": "echo 1 > /dev/diod3; echo 0 > /dev/diod2",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 500,
        "y": 120,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "42e2da368acfdb16",
        "type": "exec",
        "z": "93c938d261dc36e3",
        "command": "echo 0 > /dev/diod3; echo 0 > /dev/diod2",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 360,
        "y": 660,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "559d7dc0b202b6ec",
        "type": "comment",
        "z": "93c938d261dc36e3",
        "name": "2 es luz verde, 3 es luz roja",
        "info": "",
        "x": 870,
        "y": 160,
        "wires": []
    },
    {
        "id": "a24ecf78cb9c4bcd",
        "type": "exec",
        "z": "93c938d261dc36e3",
        "command": "echo 0 > /dev/diod2",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 950,
        "y": 800,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "6599757e27dee406",
        "type": "exec",
        "z": "93c938d261dc36e3",
        "command": "echo 0 > /dev/diod3",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 950,
        "y": 1040,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "39db48e634e5f68e",
        "type": "exec",
        "z": "93c938d261dc36e3",
        "command": "echo 0 > /dev/diod3; echo 0 > /dev/diod2",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1380,
        "y": 520,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "ca21724456fbfc8b",
        "type": "exec",
        "z": "93c938d261dc36e3",
        "command": "echo 0 > /dev/diod3; echo 1 > /dev/diod2",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1380,
        "y": 720,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "7cb1bfa6ee14cd59",
        "type": "function",
        "z": "93c938d261dc36e3",
        "name": "",
        "func": "if (msg.payload.code == 0){\n    node.status({ fill: \"green\", shape: \"dot\", text: \"usb connected\" });\n    return [null, msg];\n    \n}\nelse{\n    node.status({ fill: \"red\", shape: \"ring\", text: \"usb disconnected\" });\n    return [msg, null];\n}\n",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 280,
        "wires": [
            [
                "739dd41c60b23bc3"
            ],
            [
                "611c4768cd164731"
            ]
        ]
    },
    {
        "id": "739dd41c60b23bc3",
        "type": "exec",
        "z": "93c938d261dc36e3",
        "command": "/root/axotec_scripts/blink_red_led.sh",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1230,
        "y": 240,
        "wires": [
            [],
            [],
            []
        ]
    }
]