flows.json
[
    {
        "id": "7e745af8071944c2",
        "type": "tab",
        "label": "INIT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "694cd37a1199a841",
        "type": "tab",
        "label": "HTTP",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "42897ad46e77c19c",
        "type": "tab",
        "label": "TEST DATA",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "48d20ef5a22489eb",
        "type": "tab",
        "label": "DATA",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0e59410b16d8c0d1",
        "type": "tab",
        "label": "CONNECTIVITY & MONITORING",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f24bebacdb4e3198",
        "type": "tab",
        "label": "CAN",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "82ed6e2e08d3f801",
        "type": "group",
        "z": "48d20ef5a22489eb",
        "name": "Guardado de data local",
        "style": {
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "2c469d6f9269ab29",
            "54ebed29b752d020",
            "2a0d95fde2a802e2",
            "66f721964a9c8417",
            "54adda594cc45455",
            "4974f48dba9ad712"
        ],
        "x": 174,
        "y": 359,
        "w": 862,
        "h": 142
    },
    {
        "id": "8d53d2f17df7fbc4",
        "type": "mqtt-broker",
        "name": "ACME_broker",
        "broker": "161.132.39.167",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "eadfda525a15b034",
        "type": "serial-port",
        "serialport": "/dev/ttyUSB1",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "fe44fd7d63e74a2d",
        "type": "canconfig",
        "channel": "can1",
        "bitrate": "125000"
    },
    {
        "id": "d9499f45a78ec16d",
        "type": "canconfig",
        "channel": "can0",
        "bitrate": "125000"
    },
    {
        "id": "d7031f3f43f31a77",
        "type": "socketcan-config",
        "interface": "can1"
    },
    {
        "id": "9d8fe396d6dcfcdd",
        "type": "socketcan-config",
        "interface": "can0"
    },
    {
        "id": "af698781cfdced6a",
        "type": "ui_tab",
        "name": "Pruebas",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a5db0d647510a054",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "70ee9b44755ba42e",
        "type": "ui_group",
        "name": "Encoders",
        "tab": "af698781cfdced6a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "edfb2eacc3a17b91",
        "type": "ui_group",
        "name": "Celdas de carga",
        "tab": "af698781cfdced6a",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a165adb324b7645c",
        "type": "ui_group",
        "name": "Reset - CUIDADO",
        "tab": "af698781cfdced6a",
        "order": 3,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "20aa6fa811d70d43",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "acme_db",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "7e73167df8a5611c",
        "type": "inject",
        "z": "7e745af8071944c2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 80,
        "wires": [
            [
                "ddbb5677344f19e5",
                "b4c473895a61af66"
            ]
        ]
    },
    {
        "id": "ddbb5677344f19e5",
        "type": "change",
        "z": "7e745af8071944c2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data",
                "pt": "global",
                "to": "{\"gateway_key\":\"AXOKPG\",\"timestamp\":0,\"data\":{\"gateway_info\":{\"eth_ip\":\"\",\"vpn_ip\":\"\",\"ping_acme\":\"-\",\"total_space\":\"\",\"free_space\":\"\",\"temperature\":\"\",\"vbat\":0,\"num_gps_sat\":0},\"gps\":{\"pos_valid\":0,\"latitude\":0,\"longitude\":0,\"altitude\":0,\"haccuracy\":0,\"speed\":0,\"course\":0},\"rm9000\":{\"x_axis\":0,\"y_axis\":0,\"z1_axis\":0,\"z2_axis\":0},\"load_cell\":{\"load2\":0,\"load1\":0},\"gstate\":-1,\"state\":-1,\"substate\":-1}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "b4c473895a61af66",
        "type": "change",
        "z": "7e745af8071944c2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "sample_data",
                "pt": "global",
                "to": "{\"gateway_key\":\"AXOKPG\",\"timestamp\":0,\"data\":{\"gateway_info\":{\"eth_ip\":\"\",\"vpn_ip\":\"\",\"ping_acme\":\"-\",\"total_space\":\"\",\"free_space\":\"\",\"temperature\":\"\",\"vbat\":0,\"num_gps_sat\":0},\"gps\":{\"pos_valid\":0,\"latitude\":0,\"longitude\":0,\"altitude\":0,\"haccuracy\":0,\"speed\":0,\"course\":0},\"rm9000\":{\"x_axis\":0,\"y_axis\":0,\"z1_axis\":0,\"z2_axis\":0},\"load_cell\":{\"load2\":0,\"load1\":0},\"gstate\":-1,\"state\":-1,\"substate\":-1}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "ccdc261f3c80f87d",
        "type": "comment",
        "z": "7e745af8071944c2",
        "name": "data en tiempo real",
        "info": "",
        "x": 650,
        "y": 80,
        "wires": []
    },
    {
        "id": "86dc7b2a95801826",
        "type": "comment",
        "z": "7e745af8071944c2",
        "name": "muestreo de la data en tiempo real",
        "info": "",
        "x": 700,
        "y": 140,
        "wires": []
    },
    {
        "id": "5778748aaab07c8a",
        "type": "http in",
        "z": "694cd37a1199a841",
        "name": "",
        "url": "/status-loc",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 260,
        "y": 120,
        "wires": [
            [
                "aacbe3f2219a851a"
            ]
        ]
    },
    {
        "id": "5cf83d01916db967",
        "type": "http in",
        "z": "694cd37a1199a841",
        "name": "",
        "url": "/speed",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 250,
        "y": 220,
        "wires": [
            [
                "bcda4bf79c8841e7"
            ]
        ]
    },
    {
        "id": "0bb2b40bfaf61761",
        "type": "http in",
        "z": "694cd37a1199a841",
        "name": "",
        "url": "/load",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 240,
        "y": 320,
        "wires": [
            [
                "895e8f678748d193"
            ]
        ]
    },
    {
        "id": "bcda4bf79c8841e7",
        "type": "change",
        "z": "694cd37a1199a841",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "live_data.data.gps.speed",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 220,
        "wires": [
            [
                "77b95fd9a868d28b",
                "866a8db99ececb26"
            ]
        ]
    },
    {
        "id": "77b95fd9a868d28b",
        "type": "http response",
        "z": "694cd37a1199a841",
        "name": "",
        "statusCode": "200",
        "headers": {
            "content-type": "application/json"
        },
        "x": 680,
        "y": 220,
        "wires": []
    },
    {
        "id": "866a8db99ececb26",
        "type": "debug",
        "z": "694cd37a1199a841",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 180,
        "wires": []
    },
    {
        "id": "895e8f678748d193",
        "type": "change",
        "z": "694cd37a1199a841",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "live_data.data.load",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 320,
        "wires": [
            [
                "8957fc72439d3a19"
            ]
        ]
    },
    {
        "id": "8957fc72439d3a19",
        "type": "http response",
        "z": "694cd37a1199a841",
        "name": "",
        "statusCode": "200",
        "headers": {
            "content-type": "application/json"
        },
        "x": 680,
        "y": 320,
        "wires": []
    },
    {
        "id": "61630ed9060d2d08",
        "type": "debug",
        "z": "694cd37a1199a841",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 280,
        "wires": []
    },
    {
        "id": "aacbe3f2219a851a",
        "type": "function",
        "z": "694cd37a1199a841",
        "name": "coordinates",
        "func": "var data_json = global.get(\"gateway_data\");\n\nmsg.payload = data_json;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 120,
        "wires": [
            [
                "3c82c4b663a6a8fd",
                "d192818ea11ab8c4"
            ]
        ]
    },
    {
        "id": "3c82c4b663a6a8fd",
        "type": "debug",
        "z": "694cd37a1199a841",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 80,
        "wires": []
    },
    {
        "id": "d192818ea11ab8c4",
        "type": "http response",
        "z": "694cd37a1199a841",
        "name": "",
        "statusCode": "200",
        "headers": {
            "content-type": "application/json"
        },
        "x": 660,
        "y": 120,
        "wires": []
    },
    {
        "id": "910ae679acfe4909",
        "type": "http in",
        "z": "694cd37a1199a841",
        "name": "",
        "url": "/hourmeter",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 260,
        "y": 420,
        "wires": [
            [
                "7aba7d69f860b22f"
            ]
        ]
    },
    {
        "id": "3fad90b85ce23aa4",
        "type": "http response",
        "z": "694cd37a1199a841",
        "name": "",
        "statusCode": "200",
        "headers": {
            "content-type": "application/json"
        },
        "x": 760,
        "y": 420,
        "wires": []
    },
    {
        "id": "e6469f51e99c2c89",
        "type": "http in",
        "z": "694cd37a1199a841",
        "name": "",
        "url": "/status-desc",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 260,
        "y": 500,
        "wires": [
            [
                "d57aca71b724effe"
            ]
        ]
    },
    {
        "id": "d57aca71b724effe",
        "type": "change",
        "z": "694cd37a1199a841",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "live_data.data.general_status",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 500,
        "wires": [
            [
                "79ebab6c9940c5cc"
            ]
        ]
    },
    {
        "id": "79ebab6c9940c5cc",
        "type": "http response",
        "z": "694cd37a1199a841",
        "name": "",
        "statusCode": "200",
        "headers": {
            "content-type": "application/json"
        },
        "x": 620,
        "y": 500,
        "wires": []
    },
    {
        "id": "69005e857c115cbc",
        "type": "debug",
        "z": "694cd37a1199a841",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 360,
        "wires": []
    },
    {
        "id": "3e19b02dfb2f35a8",
        "type": "change",
        "z": "694cd37a1199a841",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "hourmeter",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "96cf4ad22575941d",
        "type": "inject",
        "z": "694cd37a1199a841",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "*/1 0-22 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 620,
        "wires": [
            [
                "6a8fe2061ccf6ff6"
            ]
        ]
    },
    {
        "id": "6a8fe2061ccf6ff6",
        "type": "function",
        "z": "694cd37a1199a841",
        "name": "function 7",
        "func": "\nmsg.topic = `\n  SELECT * FROM local_data \n  WHERE YEAR(date) = YEAR(CURDATE())\n  ORDER BY date;\n  `;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 620,
        "wires": [
            [
                "adfa14774f1e9ebf"
            ]
        ]
    },
    {
        "id": "adfa14774f1e9ebf",
        "type": "mysql",
        "z": "694cd37a1199a841",
        "mydb": "20aa6fa811d70d43",
        "name": "",
        "x": 560,
        "y": 620,
        "wires": [
            [
                "416817946d01eebb"
            ]
        ]
    },
    {
        "id": "416817946d01eebb",
        "type": "function",
        "z": "694cd37a1199a841",
        "name": "function 8",
        "func": "var array_in = msg.payload.map((row) => JSON.parse(row.data));\nvar json = {}\n\nconst hours_total = getCumulatedHours(array_in);\n\nconst hours = Math.floor(hours_total);\nconst minutes = Math.floor(60*(hours_total - hours));\n\njson.hours = hours;\njson.minutes = minutes;\nmsg.payload = json;\nreturn msg;\n\n\n\nfunction getCumulatedHours(arr) {\n  let resultado = [];\n  let rindex = 0;\n  let cumHours = 0;\n\n  // Declaramos el primer valor de resultado\n  resultado[rindex] = {\n    fInit: new Date(arr[0].timestamp),\n    fEnd: new Date(arr[0].timestamp),\n    state: Number(arr[0].gstate),\n    hours: 0,\n  };\n  rindex++;\n\n  for (let i = 1; i < arr.length; i++) {\n    // if (arr[i].gstate == -1) {\n      // continue; // Ignorar intervalos con gstate igual a -1\n    // }\n    if (Number(arr[i].gstate) !== Number(arr[i - 1].gstate) ) {\n      // Cada que hay un cambio declaramos el nuevo item\n      resultado[rindex] = {\n        fInit: new Date(arr[i].timestamp),\n        fEnd: new Date(arr[i].timestamp),\n        state: Number(arr[i].gstate),\n        hours: 0,\n      };\n\n      // Y con ello actualizamos el item anterior\n      resultado[rindex - 1].fEnd = new Date(arr[i].timestamp);\n      resultado[rindex - 1].hours =\n        (resultado[rindex - 1].fEnd.getTime() -\n          resultado[rindex - 1].fInit.getTime()) /\n        (60 * 60 * 1000);\n        \n      if (resultado[rindex - 1].state===1){\n          cumHours += resultado[rindex - 1].hours;\n        }\n      rindex++;\n    }\n  }\n\n  return cumHours;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 620,
        "wires": [
            [
                "3e19b02dfb2f35a8"
            ]
        ]
    },
    {
        "id": "7aba7d69f860b22f",
        "type": "change",
        "z": "694cd37a1199a841",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "hourmeter",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 420,
        "wires": [
            [
                "3fad90b85ce23aa4"
            ]
        ]
    },
    {
        "id": "2eb28a4d1524ee51",
        "type": "inject",
        "z": "42897ad46e77c19c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 220,
        "wires": [
            [
                "1413e12e5d9080b4",
                "0e56da427826ac01",
                "53b8d96c72cd1df7",
                "e707f89f375f0cb9",
                "a70b679d8c449d78",
                "a27a3351d6d908b3"
            ]
        ]
    },
    {
        "id": "6e0649b87bd9c7fc",
        "type": "change",
        "z": "42897ad46e77c19c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.rm9000.x_axis",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "0f83dec6719ccaf9",
        "type": "change",
        "z": "42897ad46e77c19c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.rm9000.y_axis",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "1ce259bba990de95",
        "type": "change",
        "z": "42897ad46e77c19c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.rm9000.z1_axis",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "d16f5d311146fef2",
        "type": "change",
        "z": "42897ad46e77c19c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.rm9000.z2_axis",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "1413e12e5d9080b4",
        "type": "random",
        "z": "42897ad46e77c19c",
        "name": "",
        "low": "0",
        "high": "80",
        "inte": "true",
        "property": "payload",
        "x": 300,
        "y": 160,
        "wires": [
            [
                "6e0649b87bd9c7fc"
            ]
        ]
    },
    {
        "id": "0e56da427826ac01",
        "type": "random",
        "z": "42897ad46e77c19c",
        "name": "",
        "low": "0",
        "high": "40",
        "inte": "true",
        "property": "payload",
        "x": 300,
        "y": 220,
        "wires": [
            [
                "0f83dec6719ccaf9"
            ]
        ]
    },
    {
        "id": "53b8d96c72cd1df7",
        "type": "random",
        "z": "42897ad46e77c19c",
        "name": "",
        "low": 1,
        "high": 10,
        "inte": "true",
        "property": "payload",
        "x": 300,
        "y": 280,
        "wires": [
            [
                "1ce259bba990de95"
            ]
        ]
    },
    {
        "id": "e707f89f375f0cb9",
        "type": "random",
        "z": "42897ad46e77c19c",
        "name": "",
        "low": 1,
        "high": 10,
        "inte": "true",
        "property": "payload",
        "x": 300,
        "y": 340,
        "wires": [
            [
                "d16f5d311146fef2"
            ]
        ]
    },
    {
        "id": "a27a3351d6d908b3",
        "type": "random",
        "z": "42897ad46e77c19c",
        "name": "",
        "low": "900",
        "high": "1200",
        "inte": "true",
        "property": "payload",
        "x": 300,
        "y": 400,
        "wires": [
            [
                "ef1d21386f04a4cf"
            ]
        ]
    },
    {
        "id": "a70b679d8c449d78",
        "type": "random",
        "z": "42897ad46e77c19c",
        "name": "",
        "low": "900",
        "high": "1000",
        "inte": "true",
        "property": "payload",
        "x": 300,
        "y": 460,
        "wires": [
            [
                "e22188b9c2dae426"
            ]
        ]
    },
    {
        "id": "ef1d21386f04a4cf",
        "type": "change",
        "z": "42897ad46e77c19c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.load_cell.load1",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "e22188b9c2dae426",
        "type": "change",
        "z": "42897ad46e77c19c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.load_cell.load2",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "10c65af94a05d4b8",
        "type": "change",
        "z": "42897ad46e77c19c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.rm9000.x_axis",
                "pt": "global",
                "to": "x",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "gateway_data.data.rm9000.y_axis",
                "pt": "global",
                "to": "y",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "gateway_data.data.rm9000.z1_axis",
                "pt": "global",
                "to": "z1",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "gateway_data.data.rm9000.z2_axis",
                "pt": "global",
                "to": "z2",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "gateway_data.data.load_cell.load1",
                "pt": "global",
                "to": "l1",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "gateway_data.data.load_cell.load2",
                "pt": "global",
                "to": "l2",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "f8e1b8bdf6f02ba0",
        "type": "inject",
        "z": "42897ad46e77c19c",
        "name": "cambio en y, sin carga",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "x",
                "v": "11",
                "vt": "num"
            },
            {
                "p": "y",
                "v": "15",
                "vt": "num"
            },
            {
                "p": "z1",
                "v": "10",
                "vt": "num"
            },
            {
                "p": "z2",
                "v": "10",
                "vt": "num"
            },
            {
                "p": "l1",
                "v": "900",
                "vt": "num"
            },
            {
                "p": "l2",
                "v": "900",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 660,
        "wires": [
            [
                "10c65af94a05d4b8"
            ]
        ]
    },
    {
        "id": "73e79512fb0abd4e",
        "type": "inject",
        "z": "42897ad46e77c19c",
        "name": "cambio en x e y, con carga",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "x",
                "v": "15",
                "vt": "num"
            },
            {
                "p": "y",
                "v": "11",
                "vt": "num"
            },
            {
                "p": "z1",
                "v": "15",
                "vt": "num"
            },
            {
                "p": "z2",
                "v": "10",
                "vt": "num"
            },
            {
                "p": "l1",
                "v": "1100",
                "vt": "num"
            },
            {
                "p": "l2",
                "v": "1100",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 780,
        "wires": [
            [
                "10c65af94a05d4b8"
            ]
        ]
    },
    {
        "id": "c62b959ed0ded5a3",
        "type": "inject",
        "z": "42897ad46e77c19c",
        "name": "cambio en z1 y z2, con carga",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "x",
                "v": "11",
                "vt": "num"
            },
            {
                "p": "y",
                "v": "11",
                "vt": "num"
            },
            {
                "p": "z1",
                "v": "10",
                "vt": "num"
            },
            {
                "p": "z2",
                "v": "15",
                "vt": "num"
            },
            {
                "p": "l1",
                "v": "1100",
                "vt": "num"
            },
            {
                "p": "l2",
                "v": "1100",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 820,
        "wires": [
            [
                "10c65af94a05d4b8"
            ]
        ]
    },
    {
        "id": "68e1413040ace5ab",
        "type": "inject",
        "z": "42897ad46e77c19c",
        "name": "sin carga",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "x",
                "v": "11",
                "vt": "num"
            },
            {
                "p": "y",
                "v": "11",
                "vt": "num"
            },
            {
                "p": "z1",
                "v": "10",
                "vt": "num"
            },
            {
                "p": "z2",
                "v": "10",
                "vt": "num"
            },
            {
                "p": "l1",
                "v": "900",
                "vt": "num"
            },
            {
                "p": "l2",
                "v": "900",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 620,
        "wires": [
            [
                "10c65af94a05d4b8"
            ]
        ]
    },
    {
        "id": "153badb2a11c9be4",
        "type": "inject",
        "z": "42897ad46e77c19c",
        "name": "sin cambio, con carga",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "x",
                "v": "11",
                "vt": "num"
            },
            {
                "p": "y",
                "v": "15",
                "vt": "num"
            },
            {
                "p": "z1",
                "v": "15",
                "vt": "num"
            },
            {
                "p": "z2",
                "v": "10",
                "vt": "num"
            },
            {
                "p": "l1",
                "v": "1100",
                "vt": "num"
            },
            {
                "p": "l2",
                "v": "900",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 740,
        "wires": [
            [
                "10c65af94a05d4b8"
            ]
        ]
    },
    {
        "id": "1f3310537941b9e4",
        "type": "inject",
        "z": "42897ad46e77c19c",
        "name": "cambio en z, sin carga",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "x",
                "v": "11",
                "vt": "num"
            },
            {
                "p": "y",
                "v": "15",
                "vt": "num"
            },
            {
                "p": "z1",
                "v": "15",
                "vt": "num"
            },
            {
                "p": "z2",
                "v": "10",
                "vt": "num"
            },
            {
                "p": "l1",
                "v": "900",
                "vt": "num"
            },
            {
                "p": "l2",
                "v": "900",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 700,
        "wires": [
            [
                "10c65af94a05d4b8"
            ]
        ]
    },
    {
        "id": "8856f4bca18235c6",
        "type": "inject",
        "z": "48d20ef5a22489eb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "timestamp",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "b670eb2616d4f9a5"
            ]
        ]
    },
    {
        "id": "bdff64390cff8fd2",
        "type": "comment",
        "z": "48d20ef5a22489eb",
        "name": "Muestreo de data",
        "info": "",
        "x": 140,
        "y": 80,
        "wires": []
    },
    {
        "id": "b670eb2616d4f9a5",
        "type": "change",
        "z": "48d20ef5a22489eb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.timestamp",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 140,
        "wires": [
            [
                "4db00823342cc52e"
            ]
        ]
    },
    {
        "id": "3bc0260eb444a18b",
        "type": "change",
        "z": "48d20ef5a22489eb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "sample_data",
                "pt": "global",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "4db00823342cc52e",
        "type": "function",
        "z": "48d20ef5a22489eb",
        "name": "get state",
        "func": "const current_data = global.get(\"gateway_data\");\nconst previous_data = global.get(\"sample_data\");\n\nconst x = (current_data.data.rm9000.x_axis - previous_data.data.rm9000.x_axis)!==0;\nconst y = (current_data.data.rm9000.y_axis - previous_data.data.rm9000.y_axis)!==0;\nconst z1 = (current_data.data.rm9000.z1_axis - previous_data.data.rm9000.z1_axis)!==0;\nconst z2 = (current_data.data.rm9000.z2_axis - previous_data.data.rm9000.z2_axis)!==0;\nconst l1 = (current_data.data.load_cell.load1)>1000;\nconst l2 = (current_data.data.load_cell.load2)>1000;\n\nvar gstate = 0;\nvar state = 0;\nvar substate = 0;\n\n// x:  movimiento en el eje x\n// y:  movimiento en el eje y\n// z1: movimiento en el eje z1\n// z2: movimiento en el eje z2\n\n// SUB ESTADOS\n// Espera sin carga:    0\n// Traslado sin carga:  1\n// Subida o bajada:     2\n// Espera con carga:    3\n// Traslado con carga:  4\n// Efectivo:            5\n\n// ESTADOS\n// No uso:          0\n// Suplementario:   1\n// Complementario:  2\n// Efectivo:        3\n\nconsole.log(x, y,z1, z2, l1, l2);\n\nif(!x && !y && !z1 && !z2 && !l1 && !l2){\n    substate = 0;\n    state = 0;\n    gstate = 0;\n}\nelse if ((x || y) && (!z1 && !z2) && (!l1 && !l2)){\n    substate = 1;\n    state = 1;\n    gstate = 1;\n}\nelse if ((z1 || z2) && (!l1 && !l2)){\n    substate = 2;\n    state = 1;\n    gstate = 1;\n}\nelse if ((!x && !y) && (!z1 && !z2) && (l1 || l2)){\n    substate = 3;\n    state =  2;\n    gstate = 1;\n}\nelse if ((x || y) && (!z1 && !z2) && (l1 || l2)){\n    substate = 4;\n    state = 2;\n    gstate = 1;\n}\nelse if ((z1 || z2) && (l1 || l2)){\n    substate = 5;\n    state = 3;\n    gstate = 1;\n}\nelse {\n    substate = -1;\n    state = -1;\n    gstate = -1;\n}\n\ncurrent_data.data.state = state;\ncurrent_data.data.substate = substate;\n\nmsg.payload = current_data;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 140,
        "wires": [
            [
                "3bc0260eb444a18b",
                "a43fbc664f8355b8",
                "7650f6b1cc3b5d70"
            ]
        ]
    },
    {
        "id": "a43fbc664f8355b8",
        "type": "debug",
        "z": "48d20ef5a22489eb",
        "name": "debug 179",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 200,
        "wires": []
    },
    {
        "id": "2c469d6f9269ab29",
        "type": "function",
        "z": "48d20ef5a22489eb",
        "g": "82ed6e2e08d3f801",
        "name": "function 1",
        "func": "\nmsg.topic = \"INSERT INTO `local_data` (`date`, `data`) VALUES (FROM_UNIXTIME(\" + msg.timestamp/1000 + \"),'\"+ msg.payload + \"');\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 460,
        "wires": [
            [
                "66f721964a9c8417",
                "54ebed29b752d020"
            ]
        ]
    },
    {
        "id": "54ebed29b752d020",
        "type": "mysql",
        "z": "48d20ef5a22489eb",
        "g": "82ed6e2e08d3f801",
        "mydb": "20aa6fa811d70d43",
        "name": "",
        "x": 950,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "2a0d95fde2a802e2",
        "type": "json",
        "z": "48d20ef5a22489eb",
        "g": "82ed6e2e08d3f801",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 430,
        "y": 460,
        "wires": [
            [
                "2c469d6f9269ab29",
                "54adda594cc45455"
            ]
        ]
    },
    {
        "id": "66f721964a9c8417",
        "type": "debug",
        "z": "48d20ef5a22489eb",
        "g": "82ed6e2e08d3f801",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 420,
        "wires": []
    },
    {
        "id": "54adda594cc45455",
        "type": "debug",
        "z": "48d20ef5a22489eb",
        "g": "82ed6e2e08d3f801",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 400,
        "wires": []
    },
    {
        "id": "4974f48dba9ad712",
        "type": "link in",
        "z": "48d20ef5a22489eb",
        "g": "82ed6e2e08d3f801",
        "name": "save_database",
        "links": [
            "0dbd5db4020576db",
            "5bef7810bb446303",
            "c8d60c4ef86f2d66",
            "b840f2b36dafec2c",
            "d886d36ba3d3f976",
            "7650f6b1cc3b5d70"
        ],
        "x": 215,
        "y": 460,
        "wires": [
            [
                "2a0d95fde2a802e2"
            ]
        ]
    },
    {
        "id": "7650f6b1cc3b5d70",
        "type": "link out",
        "z": "48d20ef5a22489eb",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "4974f48dba9ad712"
        ],
        "x": 825,
        "y": 80,
        "wires": []
    },
    {
        "id": "873bfdb3ebe73b42",
        "type": "inject",
        "z": "0e59410b16d8c0d1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "e9f8f0e46f741dc5",
                "eecca71b01f41459",
                "0d573abdbf175f32",
                "274b0f20ca232ce3",
                "f13ab55dbff28ada"
            ]
        ]
    },
    {
        "id": "e9f8f0e46f741dc5",
        "type": "exec",
        "z": "0e59410b16d8c0d1",
        "command": "echo -n $(echo -n $(ip addr show eth0 | grep -oP 'inet \\K\\S+'))",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 460,
        "y": 80,
        "wires": [
            [
                "2270b96b9047a64f"
            ],
            [],
            []
        ]
    },
    {
        "id": "2270b96b9047a64f",
        "type": "change",
        "z": "0e59410b16d8c0d1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.gateway_info.eth_ip",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "eecca71b01f41459",
        "type": "exec",
        "z": "0e59410b16d8c0d1",
        "command": "echo -n $(df -h --total | grep /dev/root | awk '{print$2}')",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 440,
        "y": 200,
        "wires": [
            [
                "f1698c9c40482245"
            ],
            [],
            []
        ]
    },
    {
        "id": "0d573abdbf175f32",
        "type": "exec",
        "z": "0e59410b16d8c0d1",
        "command": "echo -n $(df -h --total | grep /dev/root | awk '{print$4}')",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 440,
        "y": 280,
        "wires": [
            [
                "ec02d292455c948e"
            ],
            [],
            []
        ]
    },
    {
        "id": "f1698c9c40482245",
        "type": "change",
        "z": "0e59410b16d8c0d1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.gateway_info.total_space",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "ec02d292455c948e",
        "type": "change",
        "z": "0e59410b16d8c0d1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.gateway_info.free_space",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "274b0f20ca232ce3",
        "type": "exec",
        "z": "0e59410b16d8c0d1",
        "command": "echo -n $(vcgencmd measure_temp)",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 390,
        "y": 360,
        "wires": [
            [
                "1fd8a22d7826807e"
            ],
            [],
            []
        ]
    },
    {
        "id": "87389f7bcf1de2ef",
        "type": "change",
        "z": "0e59410b16d8c0d1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.gateway_info.temperature",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "1fd8a22d7826807e",
        "type": "change",
        "z": "0e59410b16d8c0d1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$substring(payload,5,4)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 360,
        "wires": [
            [
                "87389f7bcf1de2ef"
            ]
        ]
    },
    {
        "id": "f13ab55dbff28ada",
        "type": "exec",
        "z": "0e59410b16d8c0d1",
        "command": "echo -n $(echo -n $(ip addr show ztly5urarz | grep -oP 'inet \\K\\S+'))",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 480,
        "y": 140,
        "wires": [
            [
                "203b2aa8c3101509"
            ],
            [],
            []
        ]
    },
    {
        "id": "203b2aa8c3101509",
        "type": "change",
        "z": "0e59410b16d8c0d1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.gateway_info.vpn_ip",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "8d590f6524b37452",
        "type": "switch",
        "z": "f24bebacdb4e3198",
        "name": "",
        "property": "payload.canid",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "100",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "102",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "104",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "106",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 530,
        "y": 300,
        "wires": [
            [
                "757d891ad7dd67f5"
            ],
            [
                "4e56bd5cb1f06dd7"
            ],
            [
                "4413e58563e1530c"
            ],
            [
                "28413dfab958e587"
            ]
        ]
    },
    {
        "id": "f0bd8ad06372a9b5",
        "type": "inject",
        "z": "f24bebacdb4e3198",
        "name": "reset encoder 2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 380,
        "y": 1120,
        "wires": [
            [
                "b2e8f90a7a2f2027",
                "fd95575d8b2c851e",
                "abba56ec1ad967a1"
            ]
        ]
    },
    {
        "id": "4e56bd5cb1f06dd7",
        "type": "function",
        "z": "f24bebacdb4e3198",
        "name": "encoder 2",
        "func": "var data = msg.payload.data;\n\nlet out = data[6]*1000000 + data[4]*10000 + data[2]*100 + data[0];\n\nmsg.fdata = Math.round(out / 1000);\nmsg.payload = out;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 220,
        "wires": [
            [
                "010a90cd4a2dc78b",
                "80381cdf57f71d6b",
                "4abc6a941da5215e"
            ]
        ]
    },
    {
        "id": "010a90cd4a2dc78b",
        "type": "debug",
        "z": "f24bebacdb4e3198",
        "name": "debug 132",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "fdata",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 220,
        "wires": []
    },
    {
        "id": "4abc6a941da5215e",
        "type": "debug",
        "z": "f24bebacdb4e3198",
        "name": "debug 137",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 140,
        "wires": []
    },
    {
        "id": "757d891ad7dd67f5",
        "type": "function",
        "z": "f24bebacdb4e3198",
        "name": "encoder 1",
        "func": "var data = msg.payload.data;\n\nlet out = data[6]*1000000 + data[4]*10000 + data[2]*100 + data[0];\n\nmsg.fdata = Math.round(out/1000);\n\nmsg.payload = out;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 160,
        "wires": [
            [
                "b38509e2b064ae94",
                "c2745923679ccd3e",
                "7939d68622a970d1"
            ]
        ]
    },
    {
        "id": "b38509e2b064ae94",
        "type": "debug",
        "z": "f24bebacdb4e3198",
        "name": "debug 138",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "fdata",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 160,
        "wires": []
    },
    {
        "id": "aa47093f4cd9041f",
        "type": "debug",
        "z": "f24bebacdb4e3198",
        "name": "debug 139",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 100,
        "wires": []
    },
    {
        "id": "953b644dc46f2921",
        "type": "change",
        "z": "f24bebacdb4e3198",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"canid\":2005,\"dlc\":8,\"data\":[0,0,1,0,0,0,0,0]}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 1160,
        "wires": [
            [
                "414ae3071624c335"
            ]
        ]
    },
    {
        "id": "4d312273c298e445",
        "type": "change",
        "z": "f24bebacdb4e3198",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"canid\":2005,\"dlc\":8,\"data\":[0,0,0,0,1,0,0,0]}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 1220,
        "wires": [
            [
                "414ae3071624c335"
            ]
        ]
    },
    {
        "id": "b13ecbe21ab5f778",
        "type": "inject",
        "z": "f24bebacdb4e3198",
        "name": "reset encoder 1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 360,
        "y": 1020,
        "wires": [
            [
                "a8ebf0ce8732517a",
                "fd95575d8b2c851e",
                "abba56ec1ad967a1"
            ]
        ]
    },
    {
        "id": "252dd40ecbb0e825",
        "type": "change",
        "z": "f24bebacdb4e3198",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"canid\":2005,\"dlc\":8,\"data\":[1,0,0,0,0,0,0,0]}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 1100,
        "wires": [
            [
                "414ae3071624c335"
            ]
        ]
    },
    {
        "id": "3a8a6d7c2ba78cec",
        "type": "change",
        "z": "f24bebacdb4e3198",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"canid\":2005,\"dlc\":8,\"data\":[0,0,0,0,0,0,1,0]}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 1280,
        "wires": [
            [
                "414ae3071624c335"
            ]
        ]
    },
    {
        "id": "f8ee31c026b5063f",
        "type": "inject",
        "z": "f24bebacdb4e3198",
        "name": "reset encoder 3",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 380,
        "y": 1220,
        "wires": [
            [
                "a54f007659012df7",
                "fd95575d8b2c851e",
                "abba56ec1ad967a1"
            ]
        ]
    },
    {
        "id": "7da1e972aa4be85d",
        "type": "inject",
        "z": "f24bebacdb4e3198",
        "name": "reset encoder 4",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 380,
        "y": 1320,
        "wires": [
            [
                "b8a3e9c2ee37b404",
                "fd95575d8b2c851e",
                "abba56ec1ad967a1"
            ]
        ]
    },
    {
        "id": "28413dfab958e587",
        "type": "function",
        "z": "f24bebacdb4e3198",
        "name": "encoder 4",
        "func": "var data = msg.payload.data;\n\nlet out = data[6]*1000000 + data[4]*10000 + data[2]*100 + data[0];\n\nmsg.fdata = Math.round(out / 1000);\n\nmsg.payload = out;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 360,
        "wires": [
            [
                "85cd1e26a5840d27",
                "c0df164212d36d3a",
                "b24b125b3391287c"
            ]
        ]
    },
    {
        "id": "4413e58563e1530c",
        "type": "function",
        "z": "f24bebacdb4e3198",
        "name": "encoder 3",
        "func": "var data = msg.payload.data;\n\nlet out = data[6]*1000000 + data[4]*10000 + data[2]*100 + data[0];\n\nmsg.fdata = Math.round(out/1000);\n\nmsg.payload = out;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 300,
        "wires": [
            [
                "ae111ec0a8840cd3",
                "b2a057664a47de22",
                "a25d095b0dc5e10c"
            ]
        ]
    },
    {
        "id": "ae111ec0a8840cd3",
        "type": "debug",
        "z": "f24bebacdb4e3198",
        "name": "debug 140",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "fdata",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 300,
        "wires": []
    },
    {
        "id": "85cd1e26a5840d27",
        "type": "debug",
        "z": "f24bebacdb4e3198",
        "name": "debug 141",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "fdata",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 360,
        "wires": []
    },
    {
        "id": "a8ebf0ce8732517a",
        "type": "delay",
        "z": "f24bebacdb4e3198",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 660,
        "y": 1100,
        "wires": [
            [
                "252dd40ecbb0e825"
            ]
        ]
    },
    {
        "id": "b2e8f90a7a2f2027",
        "type": "delay",
        "z": "f24bebacdb4e3198",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 660,
        "y": 1160,
        "wires": [
            [
                "953b644dc46f2921"
            ]
        ]
    },
    {
        "id": "a54f007659012df7",
        "type": "delay",
        "z": "f24bebacdb4e3198",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 660,
        "y": 1220,
        "wires": [
            [
                "4d312273c298e445"
            ]
        ]
    },
    {
        "id": "b8a3e9c2ee37b404",
        "type": "delay",
        "z": "f24bebacdb4e3198",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 660,
        "y": 1280,
        "wires": [
            [
                "3a8a6d7c2ba78cec"
            ]
        ]
    },
    {
        "id": "fd95575d8b2c851e",
        "type": "delay",
        "z": "f24bebacdb4e3198",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 640,
        "y": 1480,
        "wires": [
            [
                "1ae0a5266356db38"
            ]
        ]
    },
    {
        "id": "1ae0a5266356db38",
        "type": "change",
        "z": "f24bebacdb4e3198",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"canid\":2005,\"dlc\":8,\"data\":[0,0,0,0,0,0,0,0]}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 1480,
        "wires": [
            [
                "414ae3071624c335"
            ]
        ]
    },
    {
        "id": "9e913604557e1433",
        "type": "catch",
        "z": "f24bebacdb4e3198",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 580,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "7939d68622a970d1",
        "type": "change",
        "z": "f24bebacdb4e3198",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.rm9000.x_axis",
                "pt": "global",
                "to": "fdata",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "46d80b4433962232",
        "type": "change",
        "z": "f24bebacdb4e3198",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.rm9000.y_axis",
                "pt": "global",
                "to": "fdata",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "b2a057664a47de22",
        "type": "change",
        "z": "f24bebacdb4e3198",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.rm9000.z1_axis",
                "pt": "global",
                "to": "fdata",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "c0df164212d36d3a",
        "type": "change",
        "z": "f24bebacdb4e3198",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.rm9000.z2_axis",
                "pt": "global",
                "to": "fdata",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "27549fae4fa58913",
        "type": "socketcan-out",
        "z": "f24bebacdb4e3198",
        "name": "socketcan-out",
        "config": "d7031f3f43f31a77",
        "x": 190,
        "y": 300,
        "wires": [
            [
                "aa47093f4cd9041f",
                "8d590f6524b37452"
            ]
        ]
    },
    {
        "id": "f3bb113676d43533",
        "type": "socketcan-out",
        "z": "f24bebacdb4e3198",
        "name": "socketcan-out",
        "config": "9d8fe396d6dcfcdd",
        "x": 330,
        "y": 720,
        "wires": [
            [
                "4933be1217db6718"
            ]
        ]
    },
    {
        "id": "4933be1217db6718",
        "type": "switch",
        "z": "f24bebacdb4e3198",
        "name": "",
        "property": "payload.canid",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "391",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "647",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "903",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1799",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 490,
        "y": 720,
        "wires": [
            [
                "1b95a422163d212e",
                "57a90ac1cce01c30"
            ],
            [
                "11df43a0ed4a4619",
                "763cb188ae368a92"
            ],
            [],
            []
        ]
    },
    {
        "id": "11df43a0ed4a4619",
        "type": "function",
        "z": "f24bebacdb4e3198",
        "name": "carga 287",
        "func": "var data = msg.payload.data;\n\nlet out = data[1]<<8 + data[0];\n\nmsg.payload = out\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 700,
        "wires": [
            [
                "ff7d0db7e7c88614",
                "6c93f9cb6606d7fc",
                "b8d8e40cb87121e2"
            ]
        ]
    },
    {
        "id": "ff7d0db7e7c88614",
        "type": "debug",
        "z": "f24bebacdb4e3198",
        "name": "debug 174",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 560,
        "wires": []
    },
    {
        "id": "763cb188ae368a92",
        "type": "debug",
        "z": "f24bebacdb4e3198",
        "name": "debug 176",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 580,
        "wires": []
    },
    {
        "id": "427ca0a2ae34524d",
        "type": "inject",
        "z": "f24bebacdb4e3198",
        "name": "",
        "props": [
            {
                "p": "fdata",
                "v": "0",
                "vt": "num"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 710,
        "y": 60,
        "wires": [
            [
                "7939d68622a970d1",
                "46d80b4433962232"
            ]
        ]
    },
    {
        "id": "9d536593c74672e4",
        "type": "change",
        "z": "f24bebacdb4e3198",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.load_cell.load2",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "b8d8e40cb87121e2",
        "type": "change",
        "z": "f24bebacdb4e3198",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.load_cell.load1",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "1b95a422163d212e",
        "type": "debug",
        "z": "f24bebacdb4e3198",
        "name": "debug 178",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 540,
        "wires": []
    },
    {
        "id": "c2745923679ccd3e",
        "type": "ui_text",
        "z": "f24bebacdb4e3198",
        "group": "70ee9b44755ba42e",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Encoder 1 (Eje x):",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1050,
        "y": 120,
        "wires": []
    },
    {
        "id": "80381cdf57f71d6b",
        "type": "ui_text",
        "z": "f24bebacdb4e3198",
        "group": "70ee9b44755ba42e",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Encoder 2 (Eje y):",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1030,
        "y": 180,
        "wires": []
    },
    {
        "id": "a25d095b0dc5e10c",
        "type": "ui_text",
        "z": "f24bebacdb4e3198",
        "group": "70ee9b44755ba42e",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Encoder 3 (Eje z1):",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1010,
        "y": 280,
        "wires": []
    },
    {
        "id": "b24b125b3391287c",
        "type": "ui_text",
        "z": "f24bebacdb4e3198",
        "group": "70ee9b44755ba42e",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Encoder 4 (Eje z2):",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1010,
        "y": 440,
        "wires": []
    },
    {
        "id": "57a90ac1cce01c30",
        "type": "function",
        "z": "f24bebacdb4e3198",
        "name": "carga 187",
        "func": "var data = msg.payload.data;\n\nlet out = data[1]<<8 + data[0];\n\nmsg.payload = out\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 660,
        "wires": [
            [
                "9722d4f978bc4289",
                "9d536593c74672e4"
            ]
        ]
    },
    {
        "id": "9722d4f978bc4289",
        "type": "ui_text",
        "z": "f24bebacdb4e3198",
        "group": "edfb2eacc3a17b91",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "CAN ID 187 (Gancho 2):",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 890,
        "y": 620,
        "wires": []
    },
    {
        "id": "6c93f9cb6606d7fc",
        "type": "ui_text",
        "z": "f24bebacdb4e3198",
        "group": "edfb2eacc3a17b91",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "CAN ID 287 (Gancho 1):",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 950,
        "y": 740,
        "wires": []
    },
    {
        "id": "10f08bc05befffe4",
        "type": "ui_button",
        "z": "f24bebacdb4e3198",
        "name": "",
        "group": "a165adb324b7645c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "reset encoder 1",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 360,
        "y": 1060,
        "wires": [
            [
                "a8ebf0ce8732517a",
                "fd95575d8b2c851e",
                "abba56ec1ad967a1"
            ]
        ]
    },
    {
        "id": "dddf597ee8a96c54",
        "type": "ui_button",
        "z": "f24bebacdb4e3198",
        "name": "",
        "group": "a165adb324b7645c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "reset encoder 2",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 360,
        "y": 1160,
        "wires": [
            [
                "b2e8f90a7a2f2027",
                "fd95575d8b2c851e",
                "abba56ec1ad967a1"
            ]
        ]
    },
    {
        "id": "b6ed7580bfe2b720",
        "type": "ui_button",
        "z": "f24bebacdb4e3198",
        "name": "",
        "group": "a165adb324b7645c",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "reset encoder 3",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 360,
        "y": 1260,
        "wires": [
            [
                "a54f007659012df7",
                "fd95575d8b2c851e",
                "abba56ec1ad967a1"
            ]
        ]
    },
    {
        "id": "aa4aa2241faba703",
        "type": "ui_button",
        "z": "f24bebacdb4e3198",
        "name": "",
        "group": "a165adb324b7645c",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "reset encoder 4",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 360,
        "y": 1360,
        "wires": [
            [
                "b8a3e9c2ee37b404",
                "fd95575d8b2c851e",
                "abba56ec1ad967a1"
            ]
        ]
    },
    {
        "id": "414ae3071624c335",
        "type": "socketcan-in",
        "z": "f24bebacdb4e3198",
        "name": "socketcan-in",
        "config": "d7031f3f43f31a77",
        "x": 1130,
        "y": 1300,
        "wires": []
    },
    {
        "id": "abba56ec1ad967a1",
        "type": "change",
        "z": "f24bebacdb4e3198",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"canid\":2005,\"dlc\":8,\"data\":[0,0,0,0,0,0,0,0]}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 1400,
        "wires": [
            [
                "414ae3071624c335"
            ]
        ]
    },
    {
        "id": "67055db560fbdef8",
        "type": "comment",
        "z": "f24bebacdb4e3198",
        "name": "gancho1 (25 Ton); gancho 2 (5 Ton)",
        "info": "",
        "x": 1260,
        "y": 600,
        "wires": []
    }
]