flows.json
[
    {
        "id": "7e745af8071944c2",
        "type": "tab",
        "label": "INIT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "42897ad46e77c19c",
        "type": "tab",
        "label": "RANDOM DATA",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "48d20ef5a22489eb",
        "type": "tab",
        "label": "DATA",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0e59410b16d8c0d1",
        "type": "tab",
        "label": "CONNECTIVITY & MONITORING",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f24bebacdb4e3198",
        "type": "tab",
        "label": "CAN",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8d53d2f17df7fbc4",
        "type": "mqtt-broker",
        "name": "ACME_broker",
        "broker": "161.132.39.167",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "45598baf2af77f76",
        "type": "MySQLdatabase",
        "name": "",
        "host": "localhost",
        "port": "3306",
        "db": "acme_db",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "eadfda525a15b034",
        "type": "serial-port",
        "serialport": "/dev/ttyUSB1",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "fe44fd7d63e74a2d",
        "type": "canconfig",
        "channel": "can1",
        "bitrate": "125000"
    },
    {
        "id": "d9499f45a78ec16d",
        "type": "canconfig",
        "channel": "can0",
        "bitrate": "125000"
    },
    {
        "id": "d7031f3f43f31a77",
        "type": "socketcan-config",
        "interface": "can1"
    },
    {
        "id": "9d8fe396d6dcfcdd",
        "type": "socketcan-config",
        "interface": "can0"
    },
    {
        "id": "af698781cfdced6a",
        "type": "ui_tab",
        "name": "Pruebas",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a5db0d647510a054",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "70ee9b44755ba42e",
        "type": "ui_group",
        "name": "Encoders",
        "tab": "af698781cfdced6a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "edfb2eacc3a17b91",
        "type": "ui_group",
        "name": "Celdas de carga",
        "tab": "af698781cfdced6a",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a165adb324b7645c",
        "type": "ui_group",
        "name": "Reset - CUIDADO",
        "tab": "af698781cfdced6a",
        "order": 3,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7e73167df8a5611c",
        "type": "inject",
        "z": "7e745af8071944c2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 80,
        "wires": [
            [
                "ddbb5677344f19e5",
                "b4c473895a61af66"
            ]
        ]
    },
    {
        "id": "ddbb5677344f19e5",
        "type": "change",
        "z": "7e745af8071944c2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data",
                "pt": "global",
                "to": "{\"gateway_key\":\"AXOKPG\",\"timestamp\":0,\"data\":{\"gateway_info\":{\"eth_ip\":\"\",\"vpn_ip\":\"\",\"ping_acme\":\"-\",\"total_space\":\"\",\"free_space\":\"\",\"temperature\":\"\",\"vbat\":0,\"num_gps_sat\":0},\"gps\":{\"pos_valid\":0,\"latitude\":0,\"longitude\":0,\"altitude\":0,\"haccuracy\":0,\"speed\":0,\"course\":0},\"rm9000\":{\"x_axis\":0,\"y_axis\":0,\"z1_axis\":0,\"z2_axis\":0},\"load_cell\":{\"load2\":0,\"load1\":0},\"state\":-1,\"substate\":-1}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "b4c473895a61af66",
        "type": "change",
        "z": "7e745af8071944c2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "sample_data",
                "pt": "global",
                "to": "{\"gateway_key\":\"AXOKPG\",\"timestamp\":0,\"data\":{\"gateway_info\":{\"eth_ip\":\"\",\"vpn_ip\":\"\",\"ping_acme\":\"-\",\"total_space\":\"\",\"free_space\":\"\",\"temperature\":\"\",\"vbat\":0,\"num_gps_sat\":0},\"gps\":{\"pos_valid\":0,\"latitude\":0,\"longitude\":0,\"altitude\":0,\"haccuracy\":0,\"speed\":0,\"course\":0},\"rm9000\":{\"x_axis\":0,\"y_axis\":0,\"z1_axis\":0,\"z2_axis\":0},\"load_cell\":{\"load2\":0,\"load1\":0},\"state\":-1,\"substate\":-1}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "ccdc261f3c80f87d",
        "type": "comment",
        "z": "7e745af8071944c2",
        "name": "data en tiempo real",
        "info": "",
        "x": 650,
        "y": 80,
        "wires": []
    },
    {
        "id": "86dc7b2a95801826",
        "type": "comment",
        "z": "7e745af8071944c2",
        "name": "muestreo de la data en tiempo real",
        "info": "",
        "x": 700,
        "y": 140,
        "wires": []
    },
    {
        "id": "2eb28a4d1524ee51",
        "type": "inject",
        "z": "42897ad46e77c19c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 220,
        "wires": [
            [
                "1413e12e5d9080b4",
                "0e56da427826ac01",
                "53b8d96c72cd1df7",
                "e707f89f375f0cb9",
                "a70b679d8c449d78",
                "a27a3351d6d908b3"
            ]
        ]
    },
    {
        "id": "6e0649b87bd9c7fc",
        "type": "change",
        "z": "42897ad46e77c19c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.rm9000.x_axis",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "0f83dec6719ccaf9",
        "type": "change",
        "z": "42897ad46e77c19c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.rm9000.y_axis",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "1ce259bba990de95",
        "type": "change",
        "z": "42897ad46e77c19c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.rm9000.z1_axis",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "d16f5d311146fef2",
        "type": "change",
        "z": "42897ad46e77c19c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.rm9000.z2_axis",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "1413e12e5d9080b4",
        "type": "random",
        "z": "42897ad46e77c19c",
        "name": "",
        "low": "0",
        "high": "80",
        "inte": "true",
        "property": "payload",
        "x": 300,
        "y": 160,
        "wires": [
            [
                "6e0649b87bd9c7fc"
            ]
        ]
    },
    {
        "id": "0e56da427826ac01",
        "type": "random",
        "z": "42897ad46e77c19c",
        "name": "",
        "low": "0",
        "high": "40",
        "inte": "true",
        "property": "payload",
        "x": 300,
        "y": 220,
        "wires": [
            [
                "0f83dec6719ccaf9"
            ]
        ]
    },
    {
        "id": "53b8d96c72cd1df7",
        "type": "random",
        "z": "42897ad46e77c19c",
        "name": "",
        "low": 1,
        "high": 10,
        "inte": "true",
        "property": "payload",
        "x": 300,
        "y": 280,
        "wires": [
            [
                "1ce259bba990de95"
            ]
        ]
    },
    {
        "id": "e707f89f375f0cb9",
        "type": "random",
        "z": "42897ad46e77c19c",
        "name": "",
        "low": 1,
        "high": 10,
        "inte": "true",
        "property": "payload",
        "x": 300,
        "y": 340,
        "wires": [
            [
                "d16f5d311146fef2"
            ]
        ]
    },
    {
        "id": "a27a3351d6d908b3",
        "type": "random",
        "z": "42897ad46e77c19c",
        "name": "",
        "low": "900",
        "high": "1200",
        "inte": "true",
        "property": "payload",
        "x": 300,
        "y": 400,
        "wires": [
            [
                "ef1d21386f04a4cf"
            ]
        ]
    },
    {
        "id": "a70b679d8c449d78",
        "type": "random",
        "z": "42897ad46e77c19c",
        "name": "",
        "low": "900",
        "high": "1000",
        "inte": "true",
        "property": "payload",
        "x": 300,
        "y": 460,
        "wires": [
            [
                "e22188b9c2dae426"
            ]
        ]
    },
    {
        "id": "ef1d21386f04a4cf",
        "type": "change",
        "z": "42897ad46e77c19c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.load_cell.load1",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "e22188b9c2dae426",
        "type": "change",
        "z": "42897ad46e77c19c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.load_cell.load2",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "8856f4bca18235c6",
        "type": "inject",
        "z": "48d20ef5a22489eb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "b670eb2616d4f9a5"
            ]
        ]
    },
    {
        "id": "bdff64390cff8fd2",
        "type": "comment",
        "z": "48d20ef5a22489eb",
        "name": "Muestreo de data",
        "info": "",
        "x": 140,
        "y": 80,
        "wires": []
    },
    {
        "id": "b670eb2616d4f9a5",
        "type": "change",
        "z": "48d20ef5a22489eb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.timestamp",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 140,
        "wires": [
            [
                "4db00823342cc52e"
            ]
        ]
    },
    {
        "id": "3bc0260eb444a18b",
        "type": "change",
        "z": "48d20ef5a22489eb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "sample_data",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "6ec19fc7.a32ae",
        "type": "comment",
        "z": "48d20ef5a22489eb",
        "name": "Check all rules",
        "info": "Switch node apply all rules if `checking all rules` is selected in settings panel.",
        "x": 300,
        "y": 740,
        "wires": []
    },
    {
        "id": "1644e138.f8d1ef",
        "type": "switch",
        "z": "48d20ef5a22489eb",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "10",
                "vt": "num"
            },
            {
                "t": "gt",
                "v": "-10",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 820,
        "wires": [
            [
                "624b4e9f.37fee"
            ],
            [
                "a89d6432.b68318"
            ]
        ]
    },
    {
        "id": "a7f64dbf.3e27b",
        "type": "debug",
        "z": "48d20ef5a22489eb",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 780,
        "wires": []
    },
    {
        "id": "a89d6432.b68318",
        "type": "change",
        "z": "48d20ef5a22489eb",
        "name": ">-10",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": ">-10",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 860,
        "wires": [
            [
                "f1136da2.23516"
            ]
        ]
    },
    {
        "id": "624b4e9f.37fee",
        "type": "change",
        "z": "48d20ef5a22489eb",
        "name": "<10",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "<10",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 780,
        "wires": [
            [
                "a7f64dbf.3e27b"
            ]
        ]
    },
    {
        "id": "f1136da2.23516",
        "type": "debug",
        "z": "48d20ef5a22489eb",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 860,
        "wires": []
    },
    {
        "id": "c7e952e9.88e5e",
        "type": "inject",
        "z": "48d20ef5a22489eb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "-10",
        "payloadType": "num",
        "x": 330,
        "y": 780,
        "wires": [
            [
                "1644e138.f8d1ef"
            ]
        ]
    },
    {
        "id": "8cf8babd.b43db8",
        "type": "inject",
        "z": "48d20ef5a22489eb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10",
        "payloadType": "num",
        "x": 330,
        "y": 860,
        "wires": [
            [
                "1644e138.f8d1ef"
            ]
        ]
    },
    {
        "id": "6a43ae86.b92ed",
        "type": "inject",
        "z": "48d20ef5a22489eb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 330,
        "y": 820,
        "wires": [
            [
                "1644e138.f8d1ef"
            ]
        ]
    },
    {
        "id": "4db00823342cc52e",
        "type": "function",
        "z": "48d20ef5a22489eb",
        "name": "get state",
        "func": "const current_data = global.get(\"gateway_data\");\nconst previous_data = global.get(\"sample_data\");\n\nconst x = (current_data.data.rm9000.x_axis - previous_data.data.rm9000.x_axis)!==0;\nconst y = (current_data.data.rm9000.y_axis - previous_data.data.rm9000.y_axis)!==0;\nconst z1 = (current_data.data.rm9000.z1_axis - previous_data.data.rm9000.z1_axis)!==0;\nconst z2 = (current_data.data.rm9000.z2_axis - previous_data.data.rm9000.z2_axis)!==0;\nconst l1 = (current_data.data.load_cell.load1)>1000;\nconst l2 = (current_data.data.load_cell.load2)>1000;\n\nvar state = 0;\nvar substate = 0;\n\n// x:  movimiento en el eje x\n// y:  movimiento en el eje y\n// z1: movimiento en el eje z1\n// z2: movimiento en el eje z2\n\n// SUB ESTADOS\n// Espera sin carga:    0\n// Traslado sin carga:  1\n// Subida o bajada:     2\n// Espera con carga:    3\n// Traslado con carga:  4\n// Efectivo:            5\n\n// ESTADOS\n// No uso:          0\n// Suplementario:   1\n// Complementario:  2\n// Efectivo:        3\n\nconsole.log(x, y,z1, z2, l1, l2)\n\nif(!x && !y && !z1 && !z2){\n    substate = 0;\n    state = 0;\n}\nelse if ((x || y) && (!z1 && !z2) && (!l1 && !l2)){\n    substate = 1;\n    state = 1;\n}\nelse if ((!z1 || !z2) && (!l1 && !l2)){\n    substate = 2;\n    state = 1;\n}\nelse if ((!x && !y) && (!z1 && !z2) && (l1 || l2)){\n    substate = 3;\n    state =  2;\n}\nelse if ((x || y) && (!z1 && !z2) && (l1 || l2)){\n    substate = 4;\n    state = 2;\n}\nelse if ((z1 || z2) && (l1 || l2)){\n    substate = 5;\n    state = 3;\n}\nelse {\n    substate = -1;\n    state = -1;\n}\n\n\ncurrent_data.data.state = state;\ncurrent_data.data.substate = substate;\n\nmsg.payload = current_data;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 140,
        "wires": [
            [
                "3bc0260eb444a18b",
                "a43fbc664f8355b8"
            ]
        ]
    },
    {
        "id": "1db4fec9be37d4de",
        "type": "trigger",
        "z": "48d20ef5a22489eb",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "num",
        "op2type": "str",
        "duration": "250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 720,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "a43fbc664f8355b8",
        "type": "debug",
        "z": "48d20ef5a22489eb",
        "name": "debug 179",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 200,
        "wires": []
    },
    {
        "id": "873bfdb3ebe73b42",
        "type": "inject",
        "z": "0e59410b16d8c0d1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "e9f8f0e46f741dc5",
                "eecca71b01f41459",
                "0d573abdbf175f32",
                "274b0f20ca232ce3",
                "f13ab55dbff28ada"
            ]
        ]
    },
    {
        "id": "e9f8f0e46f741dc5",
        "type": "exec",
        "z": "0e59410b16d8c0d1",
        "command": "echo -n $(echo -n $(ip addr show eth0 | grep -oP 'inet \\K\\S+'))",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 460,
        "y": 80,
        "wires": [
            [
                "2270b96b9047a64f"
            ],
            [],
            []
        ]
    },
    {
        "id": "2270b96b9047a64f",
        "type": "change",
        "z": "0e59410b16d8c0d1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.gateway_info.eth_ip",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "eecca71b01f41459",
        "type": "exec",
        "z": "0e59410b16d8c0d1",
        "command": "echo -n $(df -h --total | grep /dev/root | awk '{print$2}')",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 440,
        "y": 200,
        "wires": [
            [
                "f1698c9c40482245"
            ],
            [],
            []
        ]
    },
    {
        "id": "0d573abdbf175f32",
        "type": "exec",
        "z": "0e59410b16d8c0d1",
        "command": "echo -n $(df -h --total | grep /dev/root | awk '{print$4}')",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 440,
        "y": 280,
        "wires": [
            [
                "ec02d292455c948e"
            ],
            [],
            []
        ]
    },
    {
        "id": "f1698c9c40482245",
        "type": "change",
        "z": "0e59410b16d8c0d1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.gateway_info.total_space",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "ec02d292455c948e",
        "type": "change",
        "z": "0e59410b16d8c0d1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.gateway_info.free_space",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "274b0f20ca232ce3",
        "type": "exec",
        "z": "0e59410b16d8c0d1",
        "command": "echo -n $(vcgencmd measure_temp)",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 390,
        "y": 360,
        "wires": [
            [
                "1fd8a22d7826807e"
            ],
            [],
            []
        ]
    },
    {
        "id": "87389f7bcf1de2ef",
        "type": "change",
        "z": "0e59410b16d8c0d1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.gateway_info.temperature",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "1fd8a22d7826807e",
        "type": "change",
        "z": "0e59410b16d8c0d1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$substring(payload,5,4)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 360,
        "wires": [
            [
                "87389f7bcf1de2ef"
            ]
        ]
    },
    {
        "id": "f13ab55dbff28ada",
        "type": "exec",
        "z": "0e59410b16d8c0d1",
        "command": "echo -n $(echo -n $(ip addr show ztly5urarz | grep -oP 'inet \\K\\S+'))",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 480,
        "y": 140,
        "wires": [
            [
                "203b2aa8c3101509"
            ],
            [],
            []
        ]
    },
    {
        "id": "203b2aa8c3101509",
        "type": "change",
        "z": "0e59410b16d8c0d1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.gateway_info.vpn_ip",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "8d590f6524b37452",
        "type": "switch",
        "z": "f24bebacdb4e3198",
        "name": "",
        "property": "payload.canid",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "100",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "102",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "104",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "106",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 530,
        "y": 300,
        "wires": [
            [
                "757d891ad7dd67f5"
            ],
            [
                "4e56bd5cb1f06dd7"
            ],
            [
                "4413e58563e1530c"
            ],
            [
                "28413dfab958e587"
            ]
        ]
    },
    {
        "id": "f0bd8ad06372a9b5",
        "type": "inject",
        "z": "f24bebacdb4e3198",
        "name": "reset encoder 2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 380,
        "y": 1120,
        "wires": [
            [
                "b2e8f90a7a2f2027",
                "fd95575d8b2c851e",
                "abba56ec1ad967a1"
            ]
        ]
    },
    {
        "id": "4e56bd5cb1f06dd7",
        "type": "function",
        "z": "f24bebacdb4e3198",
        "name": "encoder 2",
        "func": "var data = msg.payload.data;\n\nlet out = data[6]*1000000 + data[4]*10000 + data[2]*100 + data[0];\n\nmsg.fdata = Math.round(out / 1000);\nmsg.payload = out;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 220,
        "wires": [
            [
                "010a90cd4a2dc78b",
                "80381cdf57f71d6b",
                "4abc6a941da5215e"
            ]
        ]
    },
    {
        "id": "010a90cd4a2dc78b",
        "type": "debug",
        "z": "f24bebacdb4e3198",
        "name": "debug 132",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "fdata",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 220,
        "wires": []
    },
    {
        "id": "4abc6a941da5215e",
        "type": "debug",
        "z": "f24bebacdb4e3198",
        "name": "debug 137",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 140,
        "wires": []
    },
    {
        "id": "757d891ad7dd67f5",
        "type": "function",
        "z": "f24bebacdb4e3198",
        "name": "encoder 1",
        "func": "var data = msg.payload.data;\n\nlet out = data[6]*1000000 + data[4]*10000 + data[2]*100 + data[0];\n\nmsg.fdata = Math.round(out/1000);\n\nmsg.payload = out;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 160,
        "wires": [
            [
                "b38509e2b064ae94",
                "c2745923679ccd3e",
                "7939d68622a970d1"
            ]
        ]
    },
    {
        "id": "b38509e2b064ae94",
        "type": "debug",
        "z": "f24bebacdb4e3198",
        "name": "debug 138",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "fdata",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 160,
        "wires": []
    },
    {
        "id": "aa47093f4cd9041f",
        "type": "debug",
        "z": "f24bebacdb4e3198",
        "name": "debug 139",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 100,
        "wires": []
    },
    {
        "id": "953b644dc46f2921",
        "type": "change",
        "z": "f24bebacdb4e3198",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"canid\":2005,\"dlc\":8,\"data\":[0,0,1,0,0,0,0,0]}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 1160,
        "wires": [
            [
                "414ae3071624c335"
            ]
        ]
    },
    {
        "id": "4d312273c298e445",
        "type": "change",
        "z": "f24bebacdb4e3198",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"canid\":2005,\"dlc\":8,\"data\":[0,0,0,0,1,0,0,0]}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 1220,
        "wires": [
            [
                "414ae3071624c335"
            ]
        ]
    },
    {
        "id": "b13ecbe21ab5f778",
        "type": "inject",
        "z": "f24bebacdb4e3198",
        "name": "reset encoder 1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 360,
        "y": 1020,
        "wires": [
            [
                "a8ebf0ce8732517a",
                "fd95575d8b2c851e",
                "abba56ec1ad967a1"
            ]
        ]
    },
    {
        "id": "252dd40ecbb0e825",
        "type": "change",
        "z": "f24bebacdb4e3198",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"canid\":2005,\"dlc\":8,\"data\":[1,0,0,0,0,0,0,0]}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 1100,
        "wires": [
            [
                "414ae3071624c335"
            ]
        ]
    },
    {
        "id": "3a8a6d7c2ba78cec",
        "type": "change",
        "z": "f24bebacdb4e3198",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"canid\":2005,\"dlc\":8,\"data\":[0,0,0,0,0,0,1,0]}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 1280,
        "wires": [
            [
                "414ae3071624c335"
            ]
        ]
    },
    {
        "id": "f8ee31c026b5063f",
        "type": "inject",
        "z": "f24bebacdb4e3198",
        "name": "reset encoder 3",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 380,
        "y": 1220,
        "wires": [
            [
                "a54f007659012df7",
                "fd95575d8b2c851e",
                "abba56ec1ad967a1"
            ]
        ]
    },
    {
        "id": "7da1e972aa4be85d",
        "type": "inject",
        "z": "f24bebacdb4e3198",
        "name": "reset encoder 4",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 380,
        "y": 1320,
        "wires": [
            [
                "b8a3e9c2ee37b404",
                "fd95575d8b2c851e",
                "abba56ec1ad967a1"
            ]
        ]
    },
    {
        "id": "28413dfab958e587",
        "type": "function",
        "z": "f24bebacdb4e3198",
        "name": "encoder 4",
        "func": "var data = msg.payload.data;\n\nlet out = data[6]*1000000 + data[4]*10000 + data[2]*100 + data[0];\n\nmsg.fdata = Math.round(out / 1000);\n\nmsg.payload = out;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 360,
        "wires": [
            [
                "85cd1e26a5840d27",
                "c0df164212d36d3a",
                "b24b125b3391287c"
            ]
        ]
    },
    {
        "id": "4413e58563e1530c",
        "type": "function",
        "z": "f24bebacdb4e3198",
        "name": "encoder 3",
        "func": "var data = msg.payload.data;\n\nlet out = data[6]*1000000 + data[4]*10000 + data[2]*100 + data[0];\n\nmsg.fdata = Math.round(out/1000);\n\nmsg.payload = out;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 300,
        "wires": [
            [
                "ae111ec0a8840cd3",
                "b2a057664a47de22",
                "a25d095b0dc5e10c"
            ]
        ]
    },
    {
        "id": "ae111ec0a8840cd3",
        "type": "debug",
        "z": "f24bebacdb4e3198",
        "name": "debug 140",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "fdata",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 300,
        "wires": []
    },
    {
        "id": "85cd1e26a5840d27",
        "type": "debug",
        "z": "f24bebacdb4e3198",
        "name": "debug 141",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "fdata",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 360,
        "wires": []
    },
    {
        "id": "a8ebf0ce8732517a",
        "type": "delay",
        "z": "f24bebacdb4e3198",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 660,
        "y": 1100,
        "wires": [
            [
                "252dd40ecbb0e825"
            ]
        ]
    },
    {
        "id": "b2e8f90a7a2f2027",
        "type": "delay",
        "z": "f24bebacdb4e3198",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 660,
        "y": 1160,
        "wires": [
            [
                "953b644dc46f2921"
            ]
        ]
    },
    {
        "id": "a54f007659012df7",
        "type": "delay",
        "z": "f24bebacdb4e3198",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 660,
        "y": 1220,
        "wires": [
            [
                "4d312273c298e445"
            ]
        ]
    },
    {
        "id": "b8a3e9c2ee37b404",
        "type": "delay",
        "z": "f24bebacdb4e3198",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 660,
        "y": 1280,
        "wires": [
            [
                "3a8a6d7c2ba78cec"
            ]
        ]
    },
    {
        "id": "fd95575d8b2c851e",
        "type": "delay",
        "z": "f24bebacdb4e3198",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 640,
        "y": 1480,
        "wires": [
            [
                "1ae0a5266356db38"
            ]
        ]
    },
    {
        "id": "1ae0a5266356db38",
        "type": "change",
        "z": "f24bebacdb4e3198",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"canid\":2005,\"dlc\":8,\"data\":[0,0,0,0,0,0,0,0]}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 1480,
        "wires": [
            [
                "414ae3071624c335"
            ]
        ]
    },
    {
        "id": "9e913604557e1433",
        "type": "catch",
        "z": "f24bebacdb4e3198",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 580,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "7939d68622a970d1",
        "type": "change",
        "z": "f24bebacdb4e3198",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.rm9000.x_axis",
                "pt": "global",
                "to": "fdata",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "46d80b4433962232",
        "type": "change",
        "z": "f24bebacdb4e3198",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.rm9000.y_axis",
                "pt": "global",
                "to": "fdata",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "b2a057664a47de22",
        "type": "change",
        "z": "f24bebacdb4e3198",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.rm9000.z1_axis",
                "pt": "global",
                "to": "fdata",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "c0df164212d36d3a",
        "type": "change",
        "z": "f24bebacdb4e3198",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.rm9000.z2_axis",
                "pt": "global",
                "to": "fdata",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "27549fae4fa58913",
        "type": "socketcan-out",
        "z": "f24bebacdb4e3198",
        "name": "socketcan-out",
        "config": "d7031f3f43f31a77",
        "x": 190,
        "y": 300,
        "wires": [
            [
                "aa47093f4cd9041f",
                "8d590f6524b37452"
            ]
        ]
    },
    {
        "id": "f3bb113676d43533",
        "type": "socketcan-out",
        "z": "f24bebacdb4e3198",
        "name": "socketcan-out",
        "config": "9d8fe396d6dcfcdd",
        "x": 330,
        "y": 720,
        "wires": [
            [
                "4933be1217db6718"
            ]
        ]
    },
    {
        "id": "4933be1217db6718",
        "type": "switch",
        "z": "f24bebacdb4e3198",
        "name": "",
        "property": "payload.canid",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "391",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "647",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "903",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1799",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 490,
        "y": 720,
        "wires": [
            [
                "1b95a422163d212e",
                "57a90ac1cce01c30"
            ],
            [
                "11df43a0ed4a4619",
                "763cb188ae368a92"
            ],
            [],
            []
        ]
    },
    {
        "id": "11df43a0ed4a4619",
        "type": "function",
        "z": "f24bebacdb4e3198",
        "name": "carga 287",
        "func": "var data = msg.payload.data;\n\nlet out = data[1]<<8 + data[0];\n\nmsg.payload = out\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 700,
        "wires": [
            [
                "ff7d0db7e7c88614",
                "6c93f9cb6606d7fc",
                "b8d8e40cb87121e2"
            ]
        ]
    },
    {
        "id": "ff7d0db7e7c88614",
        "type": "debug",
        "z": "f24bebacdb4e3198",
        "name": "debug 174",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 560,
        "wires": []
    },
    {
        "id": "763cb188ae368a92",
        "type": "debug",
        "z": "f24bebacdb4e3198",
        "name": "debug 176",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 580,
        "wires": []
    },
    {
        "id": "427ca0a2ae34524d",
        "type": "inject",
        "z": "f24bebacdb4e3198",
        "name": "",
        "props": [
            {
                "p": "fdata",
                "v": "0",
                "vt": "num"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 710,
        "y": 60,
        "wires": [
            [
                "7939d68622a970d1",
                "46d80b4433962232"
            ]
        ]
    },
    {
        "id": "9d536593c74672e4",
        "type": "change",
        "z": "f24bebacdb4e3198",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.load_cell.load2",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "b8d8e40cb87121e2",
        "type": "change",
        "z": "f24bebacdb4e3198",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.load_cell.load1",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "1b95a422163d212e",
        "type": "debug",
        "z": "f24bebacdb4e3198",
        "name": "debug 178",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 540,
        "wires": []
    },
    {
        "id": "c2745923679ccd3e",
        "type": "ui_text",
        "z": "f24bebacdb4e3198",
        "group": "70ee9b44755ba42e",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Encoder 1 (supuesto eje x):",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1080,
        "y": 120,
        "wires": []
    },
    {
        "id": "80381cdf57f71d6b",
        "type": "ui_text",
        "z": "f24bebacdb4e3198",
        "group": "70ee9b44755ba42e",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Encoder 2 (supuesto eje y):",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1060,
        "y": 180,
        "wires": []
    },
    {
        "id": "a25d095b0dc5e10c",
        "type": "ui_text",
        "z": "f24bebacdb4e3198",
        "group": "70ee9b44755ba42e",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Encoder 3 (supuesto eje z1):",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1040,
        "y": 280,
        "wires": []
    },
    {
        "id": "b24b125b3391287c",
        "type": "ui_text",
        "z": "f24bebacdb4e3198",
        "group": "70ee9b44755ba42e",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Encoder 4 (supuesto eje z2):",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1040,
        "y": 440,
        "wires": []
    },
    {
        "id": "57a90ac1cce01c30",
        "type": "function",
        "z": "f24bebacdb4e3198",
        "name": "carga 187",
        "func": "var data = msg.payload.data;\n\nlet out = data[1]<<8 + data[0];\n\nmsg.payload = out\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 660,
        "wires": [
            [
                "9722d4f978bc4289",
                "9d536593c74672e4"
            ]
        ]
    },
    {
        "id": "9722d4f978bc4289",
        "type": "ui_text",
        "z": "f24bebacdb4e3198",
        "group": "edfb2eacc3a17b91",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "CAN ID 187 (verificar que gancho es):",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 930,
        "y": 620,
        "wires": []
    },
    {
        "id": "6c93f9cb6606d7fc",
        "type": "ui_text",
        "z": "f24bebacdb4e3198",
        "group": "edfb2eacc3a17b91",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "CAN ID 287 (verificar que gancho es):",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 990,
        "y": 740,
        "wires": []
    },
    {
        "id": "10f08bc05befffe4",
        "type": "ui_button",
        "z": "f24bebacdb4e3198",
        "name": "",
        "group": "a165adb324b7645c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "reset encoder 1",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 360,
        "y": 1060,
        "wires": [
            [
                "a8ebf0ce8732517a",
                "fd95575d8b2c851e",
                "abba56ec1ad967a1"
            ]
        ]
    },
    {
        "id": "dddf597ee8a96c54",
        "type": "ui_button",
        "z": "f24bebacdb4e3198",
        "name": "",
        "group": "a165adb324b7645c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "reset encoder 2",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 360,
        "y": 1160,
        "wires": [
            [
                "b2e8f90a7a2f2027",
                "fd95575d8b2c851e",
                "abba56ec1ad967a1"
            ]
        ]
    },
    {
        "id": "b6ed7580bfe2b720",
        "type": "ui_button",
        "z": "f24bebacdb4e3198",
        "name": "",
        "group": "a165adb324b7645c",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "reset encoder 3",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 360,
        "y": 1260,
        "wires": [
            [
                "a54f007659012df7",
                "fd95575d8b2c851e",
                "abba56ec1ad967a1"
            ]
        ]
    },
    {
        "id": "aa4aa2241faba703",
        "type": "ui_button",
        "z": "f24bebacdb4e3198",
        "name": "",
        "group": "a165adb324b7645c",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "reset encoder 4",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 360,
        "y": 1360,
        "wires": [
            [
                "b8a3e9c2ee37b404",
                "fd95575d8b2c851e",
                "abba56ec1ad967a1"
            ]
        ]
    },
    {
        "id": "414ae3071624c335",
        "type": "socketcan-in",
        "z": "f24bebacdb4e3198",
        "name": "socketcan-in",
        "config": "d7031f3f43f31a77",
        "x": 1130,
        "y": 1300,
        "wires": []
    },
    {
        "id": "abba56ec1ad967a1",
        "type": "change",
        "z": "f24bebacdb4e3198",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"canid\":2005,\"dlc\":8,\"data\":[0,0,0,0,0,0,0,0]}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 1400,
        "wires": [
            [
                "414ae3071624c335"
            ]
        ]
    },
    {
        "id": "67055db560fbdef8",
        "type": "comment",
        "z": "f24bebacdb4e3198",
        "name": "gancho1 (25 Ton); gancho 2 (5 Ton)",
        "info": "",
        "x": 1260,
        "y": 600,
        "wires": []
    }
]